<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyGraph.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E90F4BA51DFF3C290095C28C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E90F4BAE1DFF3C2A0095C28C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93B46FF1E1D52680030F9CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96959801E2EBD610086FDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9926B281E2971C100386816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
